# recomiendo que sean con un tunel http como ngrok o devtunnels
API_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=1234
DB_NAME=my_db

JWT_SECRET=gXjmZ3ferxnj7guRTYUpasdfPQP0Th8sebRpo2hZkasdffert23l5xU1i4ANYJMN
JWT_EXPIRATION_TIME=30d

CAN_SEND_EMAILS=false
SMTP_HOST=smtp.gmail.com
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASS="asdf asdf asdf asdf"
SMTP_FROM="example@gmail.com"

CLOUDINARY_CLOUD_NAME=dcbrgq2as
CLOUDINARY_API_KEY=12341234123412
CLOUDINARY_API_SECRET=2YrtLO_B9u-bhRYd4FTKLPm8H_e

SOAP_MAIL_WSDL=http://localhost:8000/wsdl?wsdl

MP_ACCESS_TOKEN=TEST-864578343453534152-112317-8a9b5f4e1c3ba1b5f5e1c4d6e7f8g9h0
MP_PUBLIC_KEY=TEST-45678343453534152-112317-8a9b5f4e1c3ba1b5f5e1c4d6e7f8g9h0
MP_NOTIFICATION_SECRET=5527d567de06a9aa830eb884d2cba432ce725b4b84b7458d14b9cf4ef1d7f144